* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

html, body, #root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

body {
    background-color: rgb(245, 245, 245);
    color: rgb(10, 10, 10);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


a {
    text-decoration: inherit;
    color: rgb(0, 0, 87);
}

a:hover {
    color: rgb(0, 0, 156);
}

button, .button {
    background-color: rgb(233, 233, 233);
}

.button {
    margin-top: 15px;
}

input, button, select {
    padding:8px;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



